/** @prettier */
@import '../../../shared/styles/global';

.home {
  border: 1px solid red;
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, $white, $black);
}
